venv/
__pycache__/
/venv/
/logs/
.history/
.history/*
self_play_results/
mixed_play_results/
curriculum_results/
.self_play_results/
.mixed_play_results/
.curriculum_results/
results/

final_new_results/
new_results/
